<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/cabinet.css">
    <title>Document</title>
</head>
<body>
    <div class="profile-hat"></div>
    <main>
        <div class="user-icon"></div>
        <h2 class="name">{{name}}</h2>
        <button class="edit-button"></button>
        <img src="../pictures/pencil.jpg" alt="no image found" class="edit">
        <div id="bell"></div>
        <div class="cog"></div>
        <button class="cog-button"></button>
    </main>
    <h3 id="about-me-title">Обо мне:</h3>
    <h3 id="my-posts-title">Мои посты:</h3>
    <script src="../static/js/cabinet.js"></script>
</body>
</html>