<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/settings.css">
    <title>Document</title>
</head>
<body>
    <h1>regS</h1>
    <h2>Настройки</h2>
    <div class="categories">
        <button class="account-button">Аккаунт</button>
        <a href="./logout/" class="logout-button">Выйти</button>
    </div>
    <script src="../static/js/settings.js"></script>
</body>
</html>